:root {
	/*
		[data-bs-theme=light]
		#40
	*/
	--bs-primary: #375a7f;
	--bs-secondary: #444;
	--bs-success: #00bc8c;
	--bs-info: #3498db;
	--bs-warning: #f39c12;
	--bs-danger: #e74c3c;
	--bs-light: #adb5bd;
	--bs-dark: #303030;
	--bs-primary-rgb: 55, 90, 127;
	--bs-secondary-rgb: 68, 68, 68;
	--bs-success-rgb: 0, 188, 140;
	--bs-info-rgb: 52, 152, 219;
	--bs-warning-rgb: 243, 156, 18;
	--bs-danger-rgb: 231, 76, 60;
	--bs-light-rgb: 173, 181, 189;
	--bs-dark-rgb: 48, 48, 48;
  
	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: #dee2e6;
	--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	--bs-border-radius: 0.375rem;
  
	/*
		[data-bs-theme=dark]
		#138
	*/
	--bs-body-color: #dee2e6;
	--bs-body-color-rgb: 222, 226, 230;
	--bs-body-bg: #222;
	--bs-body-bg-rgb: 34, 34, 34;

	/*
		.navbar[data-bs-theme=dark]
		#4375
	*/
	--bs-navbar-color: rgba(255, 255, 255, 0.6);
	--bs-navbar-hover-color: #fff;
	--bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
	--bs-navbar-active-color: #fff;
	--bs-navbar-brand-color: #fff;
	--bs-navbar-brand-hover-color: #fff;

	/*
		.navbar-nav
		#4020
	*/
	--bs-nav-link-color: var(--bs-navbar-color);
	--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
	--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);


	/*
		.dropdown-menu
		#3437
	*/
	--bs-dropdown-zindex: 1000;
	--bs-dropdown-min-width: 10rem;
	--bs-dropdown-padding-x: 0;
	--bs-dropdown-padding-y: 0.5rem;
	--bs-dropdown-spacer: 0.125rem;
	--bs-dropdown-font-size: 1rem;
	--bs-dropdown-color: var(--bs-body-color);
	--bs-dropdown-bg: #222;
	--bs-dropdown-border-color: #444;
	--bs-dropdown-border-radius: var(--bs-border-radius);
	--bs-dropdown-border-width: var(--bs-border-width);
	--bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
	--bs-dropdown-divider-bg: #444;
	--bs-dropdown-divider-margin-y: 0.5rem;
	--bs-dropdown-box-shadow: var(--bs-box-shadow);
	--bs-dropdown-link-color: #fff;
	--bs-dropdown-link-hover-color: #fff;
	--bs-dropdown-link-hover-bg: #375a7f;
	--bs-dropdown-link-active-color: #fff;
	--bs-dropdown-link-active-bg: #375a7f;
	--bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
	--bs-dropdown-item-padding-x: 1rem;
	--bs-dropdown-item-padding-y: 0.25rem;
	--bs-dropdown-header-color: #888;
	--bs-dropdown-header-padding-x: 1rem;
	--bs-dropdown-header-padding-y: 0.5rem;
		
	/*
		***** CUSTOM *****
	*/
	--topbar-link-color: rgba(255, 255, 255, 0.7);
	--topbar-hover-color: #fff;
	--topbar-active-color: #fff;
	--topbar-bg: #2e4f6f;

	--navbar-hover-bg: var(--header-bg);

	--footer-bg: #555;
}


/*
	#8816
*/
.bg-primary {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
