:root {
	--bs-primary: #2c3e50;
	--bs-secondary: #95a5a6;
	--bs-success: #18bc9c;
	--bs-info: #3498db;
	--bs-warning: #f39c12;
	--bs-danger: #e74c3c;
	--bs-light: #ecf0f1;
	--bs-dark: #7b8a8b;
	--bs-primary-rgb: 44, 62, 80;
	--bs-secondary-rgb: 149, 165, 166;
	--bs-success-rgb: 24, 188, 156;
	--bs-info-rgb: 52, 152, 219;
	--bs-warning-rgb: 243, 156, 18;
	--bs-danger-rgb: 231, 76, 60;
	--bs-light-rgb: 236, 240, 241;
	--bs-dark-rgb: 123, 138, 139;

	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: #dee2e6;
	--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	--bs-border-radius: 0.375rem;
	
	
	--bs-body-color: #212529;
	--bs-body-color-rgb: 33, 37, 41;
	/* --bs-body-bg: #fff; */
	--bs-body-bg: #fdfdfd;
	--bs-body-bg-rgb: 255, 255, 255;


	--bs-navbar-color: #fff;
	--bs-navbar-hover-color: #18bc9c;
	--bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
	--bs-navbar-active-color: #18bc9c;
	--bs-navbar-brand-color: #fff;
	--bs-navbar-brand-hover-color: #18bc9c;
  

	--bs-nav-link-color: var(--bs-navbar-color);
	--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
	--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  

	/*
	--bs-body-color: #dee2e6;
	--bs-body-color-rgb: 222, 226, 230;
	--bs-body-bg: #212529;
	--bs-body-bg-rgb: 33, 37, 41;
	*/
	--bs-dark-body-color: #dee2e6;
	--bs-dark-body-bg: #212529;

	--bs-dropdown-zindex: 1000;
	--bs-dropdown-min-width: 10rem;
	--bs-dropdown-padding-x: 0;
	--bs-dropdown-padding-y: 0.5rem;
	--bs-dropdown-spacer: 0.125rem;
	--bs-dropdown-font-size: 1rem;
	--bs-dropdown-color: var(--bs-dark-body-color);
	--bs-dropdown-bg: var(--bs-dark-body-bg);
	--bs-dropdown-border-color: #ced4da;
	--bs-dropdown-border-radius: var(--bs-border-radius);
	--bs-dropdown-border-width: var(--bs-border-width);
	--bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
	--bs-dropdown-divider-bg: #ced4da;
	--bs-dropdown-divider-margin-y: 0.5rem;
	--bs-dropdown-box-shadow: var(--bs-box-shadow);
	--bs-dropdown-link-color: #7b8a8b;
	--bs-dropdown-link-hover-color: #fff;
	--bs-dropdown-link-hover-bg: #2c3e50;
	--bs-dropdown-link-active-color: #fff;
	--bs-dropdown-link-active-bg: #2c3e50;
	--bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
	--bs-dropdown-item-padding-x: 1rem;
	--bs-dropdown-item-padding-y: 0.25rem;
	--bs-dropdown-header-color: #95a5a6;
	--bs-dropdown-header-padding-x: 1rem;
	--bs-dropdown-header-padding-y: 0.5rem;
  

	--topbar-link-color: rgba(255, 255, 255, 0.75);
	--topbar-hover-color: #fff;
	--topbar-active-color: #fff;
	--topbar-bg: #253544;

	--navbar-hover-bg: var(--header-bg);

	--footer-bg: #3a3a3a

}

.bg-primary {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
